body{
    background-image: url(../imagen/Best-Movie-Posters-2021.jpg);
    background-size: cover;

}
.titulo{
    display: flex;
    justify-content: center;  
    color:  white;  
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(45deg, #9f6bff, #f8fafa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 2s ease-in-out infinite alternate;
}

       
.formulario {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);  /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 5px;
    z-index: 1;  /* Asegura que el formulario esté por encima de la imagen */
}
